body {
    background-image: url("./photo.jpg");
    background-size: cover;
    background-position: contain;
  }
  
  .schedule-page {
    position: relative;
    z-index: 1000;
  }
  
  .background-squares {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
  }
  
  .schedule-content {
    position: relative;
    z-index: 2;
  }
  
.schedule-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #fff;
  text-align: center; /* Center the title */
}

.schedule-description {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #aaa;
  text-align: center; /* Center the description */
}
  
  .schedule-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab-button {
    background-color: #1c1f27;
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .tab-button.active {
    background-color: #ff007a;
  }
  
  .tab-button:hover {
    background-color: #ff007a;
  }
  
  .schedule-table {
    background-color: #1c1f27;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    /* background: transparent; */
  }

  /* .schedule-table table {
    background: transparent;
  } */
  
  .schedule-table h2 {
    margin-bottom: 15px;
    color: #ff007a;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
  }
  
  table th,
  table td {
    text-align: center;
    padding: 10px;
  }
  
  table thead th {
    background-color: #2a2d38;
  }
  
  table tbody tr:nth-child(odd) {
    background-color: #22252f;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #2a2d38;
  }
  
  @media (max-width: 568px) {
    .schedule-title {
      font-size: 2rem;
    }

    .schedule-table{
      background: cover;
    }
  
    table th,
    table td {
      font-size: 0.9rem;
    }
  
    .tab-button {
      font-size: 0.8rem;
      padding: 8px 15px;
    }
  }

  @media screen and (min-width: 500px) and (max-width: 700px) {
    .exp-wrapper {
      padding-left: 10%;
      padding-right: 10%;
      background-size: cover; 
      background-position: center; 
    }

    .schedule-table{
      background: cover;
    }
  
    .exp-wrapper .exp-title .title {
      font-size: 35px;
      text-align: center;
    }
  
    .exp-wrapper .exp-subtitle .subtitle {
      font-size: 18px; 
      text-align: center;
    }
  
    .vertical-timeline {
      padding-top: 1em; 
    }
  
    .vertical-timeline-element-content {
      padding: 1.5em 2em !important; 
    }
  }
  
  